body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: black;
	color: #e87900;
}

p {
  	line-height: 1.5;
}

#slideshow {
	display: block;
	margin: 20px auto;
	width: 512px;
	height: 512px;
	object-fit: cover;
	border: 2px solid #e87900;
	border-radius: 8px;
}

#caption {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 10px auto;
	width: 512px;
	text-align: center;
	padding: 8px;
	border-radius: 6px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}

button {
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 1rem;
	border: none;
	border-radius: 6px;
	background-color: #e87900;
	color: black;
	cursor: pointer;
 	min-width: 44px; 
	min-height: 44px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #005fa3;
}

.validators {
  	display: flex;
	justify-content: center;
	padding: 70px 0; 
	min-width: 44px; 
 	min-height: 44px;
  	gap: 1.3em;
}

#timer {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: #e87900;
  	color: black;
	padding: 5px 15px;
	border-radius: 6px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	font-weight: bold;
	font-size: 2rem;
	z-index: 1000;
}
